menu "Env config"

config SYS_AUTO_UPDATE_PKGS
    bool "Auto update pkgs config"
    default y

config SYS_CREATE_MDK_IAR_PROJECT
    bool "Auto create a mdk/iar project"
    default n

if SYS_CREATE_MDK_IAR_PROJECT

    choice
        prompt "Project type"
        help 
            Select the project type mdk or iar
            
        config SYS_CREATE_MDK5
            bool "MDK5"

        config SYS_CREATE_IAR
            bool "IAR"

        config SYS_CREATE_MDK4
            bool "MDK4"
    endchoice
    
endif

config SYS_PKGS_DOWNLOAD_ACCELERATE
    bool "Use China Mainland server"
    default n

config SYS_PKGS_USING_STATISTICS
    bool "Send usage data for improve product"
    default y
    help
        Reads the user's mac address and returns it to the rt-thread official, 
        which is used to count the number of users

endmenu

